# database host address, leave empty for default host "db"
DB_HOST=

# the database type mysql or pgsql, leave empty for default (depending on your docker-compose.yml)
DB_TYPE=

# the database port (mysql 3306) (pqsql 5432), leave empty for default (depending on your docker-compose.yml)
DB_PORT=

# the database name, leave empty for default "dmarc_report"
DB_NAME=

# the database name, leave empty for default "dmarc_report"
DB_USER=

# mysql root password. Irrelevant if you are using postgres
ROOT_DB_PASSWORD=

# database password for the database user
DB_PASSWORD=

# the email address receiving the DMARC reports
IMAP_USER=

# the password for the email address receiving the DMARC reports
IMAP_PASSWORD=

# the server the email address is hosted on
IMAP_SERVER=

# optional: default is 993 (or 143)
IMAP_PORT=

# optional: default is "Inbox"
IMAP_READ_FOLDER=

# optional: default is "processed"
IMAP_MOVE_FOLDER=

# optional: default is "error"
IMAP_MOVE_FOLDER_ERR=

# Enable SSL and/or (START-)TLS. Set both to 0 to disable encryption (not recommended)
PARSER_IMAP_SSL=0
PARSER_IMAP_TLS=1

# Ignore ERROR: message_string() issue experienced with Exchange Online. Set to 1 to enable
PARSER_IMAP_IGNORE_ERROR=0

# Increase the maximum size of the XML file. (default is 50000 bytes)
# When the size exceeds the maximum, one could experience an error Uncaught ValueError: DOMDocument::loadXML():
# Argument #1 ($source) must not be empty.
PARSER_XML_MAXSIZE=50000

# these two select the hour and minute on which the parser is run (crontab fields syntax)
# defaults: "15 *", which means to run the parser at any hour and 15 minutes (e.g. 0:15, 1:15, 2:15, etc)
PARSER_EXECUTION_HOUR=
PARSER_EXECUTION_MIN=

# same as the previous one, but for the aggregator
# defaults: "10 10", which means to run the aggregator every day at 10:10am
AGGREGATOR_EXECUTION_HOUR=
AGGREGATOR_EXECUTION_MIN=

# The number of days back in time for which the aggregator is run.  Default
# is 1, i.e.  when it runs it aggregates data for yesterday.  If DMARC
# reports arrive more than 1 day late, this can be adjusted, but metrics
# will also be delayed by the same amount
AGGREGATOR_DELAY_DAYS=

# same as the previous one, but for the data purger
# defaults: "0 10", which means to run the data purger every day at 0:10am
PURGER_EXECUTION_HOUR=
PURGER_EXECUTION_MIN=

# The purger deletes report data older than this number of days.  Aggregated
# data is _NOT_ deleted, just report data.
# Default is to keep data for 2 years
PURGER_DATA_RETENTION_DAYS=

# The port on which the Prometheus metrics exporter runs. Default is tcp port 9100
EXPORTER_PORT=
